version: '3.7'

services:
  gearmand:
    container_name: gearmand
    build:
      context: ./gearmand
    ports:
      - 4730:4730
    networks:
      - net

  nginx:
    image: nginx:latest
    volumes:
      - type: bind
        source: ./nginx/data/nginx.conf
        target: /etc/nginx/nginx.conf
    depends_on:
      - gearmand

  nagios:
    container_name: nagios
    build:
      context: ./nagios
    networks:
      - net
    depends_on:
      - gearmand
  thruk:
    container_name: thruk
    build:
      context: ./thruk
    networks:
      - net
   depends_on:
    - nginx  -


networks:
  net:
